<% unless user_signed_in? %>	
	<div class="hero-unit">
		<h1>Welcome to Kookopa!</h1>
		<p>
			You're best friends closet you can always count on!
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>