<h1>About</h1>
<p>
	Women do a few of things really well – drink a lot of wine, spend a lot of money on clothes, hold onto all those clothes and then complain we have nothing to wear so we borrow each others stuff. Well we can’t help with the wine but we can help with the clothes!!
</p>	
<p>
	We created Kookopa a peer-to peer marketplace that connects women to create a revolving closet of apparel, shoes and accessories. 
</p>
<p>	
	We allow borrowers to rent curated items from each other and let 	lenders monetize those beautiful pieces without having to part with them. 
</p>	
<p>	
	Kookopa is unique in providing women access to not only the latest seasons of styles but to generations worth of fashion. 
</p>
<p>
	We appeal to women who can’t, or don’t want to, spend money on a one-off item but are looking for something different to wear on a date or they need a suit for an interview. And we appeal to women like me, who have spent far too much money on clothes and would love for the investments we’ve made to start paying dividends.
</p>

