/* You can change the font */
/*$baseFontFamily: Milonga;
@import url(http://fonts.googleapis.com/css?family=Milonga);*/ 

$btnPrimaryBackground: green;
$navbarBackgroundHighlight: white;
$navbarBackground: white; 

@import 'bootstrap';

body {
	padding-top: 30px;
}

@import 'bootstrap-responsive'; 

.navbar-inner {
	border: 1px solid grey;
	padding-left: 20px;
    padding-right: 50px;
    border-radius: 4px 4px 4px 4px; 
    margin: 20px;
}


.footer {

	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}

.header {

	margin-bottom: 50px;
	font-size: 18px;
	color: $grayLight;
	a {
		color: $gray;
	}
}

/* Required for jQuery Masonry */
.box {
	margin: 5px;
	padding: 5px;
	font-size: 14px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.description {
	margin-top: 10px;
	margin-bottom: 5px;
}